.*
*.jou
*.log
hd_visual/
*.prm
*.bin
*.dcp
*.bak
gmon.out
transcript
*.wlf
*.os
*.o
*.opt
*.vstf
modelsim.ini
posit_add/posit_add.cache/
work/
cmake-build-debug/
pairhmm/Sources/sim/error*.txt
pairhmm/Implement
pairhmm/Synth
pairhmm/Sources/host/app/build
pairhmm/Sources/host/app/sim-build
pairhmm/Sources/host/app_posit/build
pairhmm/Sources/host/app_posit/sim-build
pairhmm/Sources/sim/*.txt
xsim/



!.gitignore
!pairhmm/Sources/cores/FPADD_11/FPADD_11.dcp
!pairhmm/Sources/cores/FPADD_6/FPADD_6.dcp
!pairhmm/Sources/cores/FPMULT/FPMULT.dcp
!pairhmm/Sources/cores/kernel_to_streaming_fifo/kernel_to_streaming_fifo.dcp
!pairhmm/Sources/cores/probabilities_fifo/probabilities_fifo.dcp
!pairhmm/Sources/cores/feedback_fifo/feedback_fifo.dcp
!pairhmm/Checkpoint/b_route_design.dcp
!pairhmm/Checkpoint/b_route_design_125.dcp
!pairhmm/Checkpoint/b_route_design_250.dcp
